* {
    padding: 0;
    margin: 0;
}

:root {
    --background-btn: linear-gradient(104deg, rgba(24, 40, 230, 0.517266281512605) 2%, rgba(7, 241, 28, 1) 100%);
    ;
    --text-color: turquoise;
    --background-section: radial-gradient(blue, purple);
    --footer-color: navy;
    --purple: #6f42c1;
    --yellow: #ffc107;
    --light: #f8f9fa;
    --gray: #6c757d;
    --danger: #dc3545;
    --primary-blue: #007bff;
    --indigo: #6610f2;
    --info: #17a2b8;
    --green-yellow: greenyellow;
    --hero-background: linear-gradient(to left, blue, thistle);
    --box-shadow: 3px 2px 3px 2px silver;
}

body {
    background-color: white;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.head {
    background: var(--light);
}

.container {
    width: 95%;
    margin: 0 auto;
}

.logo {
    width: 70%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-container {
    width: 30%;
}

.nav {
    width: 70%;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 10px;
    align-items: center;
    text-transform: capitalize;
}

.nav-btn {

    padding: 10px 45px;
    background: rgb(22, 215, 150);
    background: linear-gradient(109deg, rgba(22, 215, 150, 0.517266281512605) 17%, rgba(7, 241, 103, 1) 58%);
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border: 2px solid greenyellow;
    text-transform: capitalize;
}

.btn1 {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
}

.btncolor {
    background: rgb(22, 215, 150);
    background: linear-gradient(109deg, rgba(22, 215, 150, 0.517266281512605) 17%, rgba(7, 241, 103, 1) 58%);
}

.hero-container {
    width: 100%;
    text-align: center;
    padding: 60px 0;
    color: var(--light);
}

.hero-bar {
    /* background-color: var(--info); */
    background: rgb(92, 105, 117);
    background: linear-gradient(109deg, rgba(124, 155, 184, 0.517) 18%, rgba(12, 7, 241, 1) 69%);
    /* background: rgb(155, 172, 224);
    background: linear-gradient(167deg, rgba(155, 172, 224, 0.9262298669467787) 48%, rgba(12, 7, 241, 1) 100%); */
}

.hero-btn {
    width: 100%;
    padding: 10px 0;
    display: flex;
    gap: 10px;
    justify-content: center;

}

.hero-content {
    font-size: 35px;
    padding: 10px 0;
}

.hero-paragraph {
    padding-bottom: 10px;
}

.banner-img-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.fluid-container {
    display: flex;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 20px;
    margin-top: 30px;
    gap: 10px;
}

.solid {
    font-size: 30px;
}
.features{
padding-top: 30px;
    text-align: center;
}ƒ
.features>p{
    font-size: 20px;
    padding: 5px 0;
    text-transform: capitalize;
}
.fluid {
    width: 30%;
    box-shadow: var(--box-shadow);
}

.fa-laptop {
    color: #dc3545;
}

.fa-gears {
    color: blue;
}

.fa-modx {
    color: #dc3545;
}

.fa-clock {
    color: green;
}

.container-fluid {
    width: 90%;
    margin: 10px auto;
}

.design {
    padding: 10px 0;
}

.fluid-content {
    font-size: 14px;
    padding: 10px 0;
}

.box {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.box-item {
    width: 40%;
    /* border: 1px solid red; */
}

.box-img {
    width: 90%;
    margin: 0 auto;
}

.stat {
    width: 100%;
}

.box-container {
    width: 90%;
    margin: 200px auto;
}

.number {
    padding: 10px 0;
    text-decoration: underline;
    color: var(--indigo);
}

.title {
    padding: 10px 0;
}

.gear-title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.read {
    margin: 10px 0;
    padding: 10px 60px;
    border-radius: 10px;
    border: 1px solid blue;
    color: #17a2b8;
    font-size: 15px;
    text-transform: capitalize;
    transition: 5s all linear;
}

.read:hover {
    transition: 5s all ease-in-out;
    background: linear-gradient(109deg, rgba(22, 215, 150, 0.517266281512605) 17%, rgba(7, 241, 103, 1) 58%);
    ;
}

.counter {
    display: flex;
    background: silver;
    padding: 50px 0;
    justify-content: center;
    gap: 50px;
}

.count {
    font-size: 30px;
    text-align: center;
    padding-bottom: 5px;
}

.agico {
    background: radial-gradient(blue, purple);
    padding: 120px 0;
    color: white;
}

.agico-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.images {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.shoppy {
    width: 6%;
}

.logo-4 {
    padding: 10px 0;
}

.download-new {
    font-size: 30px;
    padding-bottom: 10px;
}

.lorem {
    font-size: 13px;
}

.nav-item {}

.link {
    text-decoration: none;
    color: black;
}

.ho {
    background-color: #dc3545;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

.one {
    background-color: #dc3545;
}




/*  */
.download,
.people,
.award,
.total {
    font-size: 15px;
    font-weight: 300;
}

.nav-item {}

.link {
    text-decoration: none;
    color: black;
}

.my-div {
    width: 100%;
    display: flex;
    text-align: center;

    justify-content: center;
}

.span {
    font-size: 30px;
}

.span {
    width: 10%;
}

.ho {
    background-color: #dc3545;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

.one {
    background-color: #dc3545;
}

.swiper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70vh;
    gap: 20px;
    justify-content: space-between;
}

.image-cont,
.swiper-content {
    width: 50%;
    /* height: 100%; */

    /* border: 1px solid red; */
}

.swipe {
    overflow: hidden;
    display: flex;
    width: 100%;
    /* padding-bottom: 20px; */
}

.swipe-container {
    display: block;
    width: 100vw;
    display: none;
    padding-top: 20px;
    /* padding: 0 290px; */
    /* border: 1px solid green; */
    /* height: 100%; */
}

.active {
    display: block;
}

.icon {
    font-size: 40px;
    color: purple;
}

.swipe-msg {
    font-size: 17px;
}

.con {
    width: 90%;
    margin: 0 auto;
}

.say {
    font-size: 35px;
    text-transform: capitalize;
}

.author {
    padding: 5px 0;
    font-weight: 600;
}

.msg {
    font-size: 12px;
}

/* client */
.clients {
    display: flex;
    width: 100%;
    gap: 10px;
}

.learn {
    font-size: 35px;
    padding-bottom: 10px;
}

small {
    text-transform: capitalize;
    font-weight: 400;
}

.date {
    text-transform: capitalize;
    padding: 5px 0;
}

.post {
    text-transform: capitalize;
    padding: 10px 0;
}

.writeup {
    border: 2px solid var(--indigo);
    border-style: dashed;
    border-top: none;
    border-radius: 10px;
}

.mobile {
    display: none;
}

.date-post {
    padding: 20px 10px;
}

/* footer */
.footer {
    margin-top: 20px;
    color: white;
    background-color: navy;
}

.footer-img-cont {
    width: 10%;
}

.footer-img-img {
    width: 100%;
}

.footer-fluid {
    display: flex;
    gap: 40px;
    padding: 80px 0;
}

.footer-content,
.footer-social {
    width: 50%;
}

.footer-social {
    display: flex;
}

.social-menu {
    width: 30%;
}

.footer-anchor {
    color: white;
    font-size: 10px;
    text-transform: lowercase;
}

.menu-item {
    padding: 5px 0;
    text-transform: capitalize;
    text-decoration: solid;
}

.mail {
    text-transform: none;
}

.menu-item:hover {
    color: black;
}

ul {
    list-style: none;
}

.menu-heading {
    font-size: 22px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.footer-social-icon {
    display: flex;
    gap: 20px;
    padding: 10px 0;

}

.brand {
    font-size: 20px;
    color: white;
}

.footer-writeup {
    padding: 10px 0;
}

fieldset {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

legend {
    text-align: center;
    padding: 0 10px;
}

/* about us */
.about {
    background: linear-gradient(to left, blue, thistle);
}

.about-container {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 60px 0;
    color: white;
}

.myabout {
    padding: 10px 0;
    font-size: 35px;
    text-transform: capitalize;
}

.navigation {
    padding: 10px 0;
}

.about-flex {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.about-child {
    width: 30%;
    /* border: 1px solid red; */
}

.about-img-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-content {
    padding: 70px 0;
}

.display {
    font-size: 30px;
    padding-bottom: 10px;
}

.display2 {
    padding: 5px 0;
}

.display3 {
    padding: 10px 0;
}

.btn3 {
    padding: 10px 25px;
    text-transform: capitalize;
    background: green;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn3:hover {
    background: rgb(21, 66, 21);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card1 {
    width: 30%;
    box-shadow: 3px 2px 3px 2px silver;
}

.card1-container {
    width: 90%;
    margin: 10% auto;
}

.card1-content {
    text-align: center;
    margin: 20px 0;
}

.icon1 {
    font-size: 30px;
    padding: 5px 0;
}

.networking {
    padding: 5px 0;
    text-transform: capitalize;
}

.area {
    padding: 10px 0;
    font-size: 30px;
    text-transform: capitalize;
}

.teams {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.team-heading {
    text-align: center;
    padding: 20px 0;
}

.team-heading>p {
    font-size: 30px;
    text-transform: capitalize;
    padding: 10px 0;
}

.each-team {
    width: 30%;
    position: relative;
    /* border: 1px solid red; */
}

.each-team>.team-bg {
    width: 100%;

}

.team-bg>img {
    width: 100%;
}

.hover {
    position: absolute;
    top: 60%;
    left: 25%;
    justify-content: center;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    height: 150px;
    background-color: #17a2b8;
}

.fullname {
    height: 100%;
    padding: 40px 0;
    color: white;
    text-transform: capitalize;
}

.fullname>.name2 {
    font-size: 18px;
    /* padding: 5px 0; */
}
.fullname>p{
    padding: 5px 0;
}
.member-social{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px 0;
}

.service-info{
    width: 60%;
    margin: 0 auto;
}

.table-head{
    display: flex;
    width: 100%;
    gap: 20px;
    text-transform: capitalize;
}
.tab{
    width: 30%;
    /* line-height: 3; */
    /* padding: 30px 0; */
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.283);
    border-radius: 10px;
}
.table{
    margin-top: 20px;
    text-align: center;
}
.plan{
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
}
.basic{
    padding: 10px 0;
    font-size: 25px;
}
.amount{
    padding: 10px 0;
    font-size: 20px;
}
.individual{
    padding: 10px 0;
}
.express{
    padding: 10px 0;
}
.custom{
    padding: 10px 0;
}
.time-critical{
    padding: 10px 0;
}
.price-btn{
    margin: 20px 0;
}

.price-btn>button{
padding: 10px 80px;
text-transform: capitalize;
border:1px solid #28a745;
    color: turquoise;
background: none;
border-radius: 10px;
}
.price-btn> button:hover{
    background-color: #28a745;
    color: black;
}
/* github */
.users{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.list{
    width: 30%;
}
.git-img-container{
    width: 20%;
}
.git-img{
    width: 100%;
}
.github{
    text-align: center;
}

@media screen and (max-width:600px) {
    .desktop {
        display: none;
    }

    .fluid-container {
        display: block;
    }

    .fluid {
        width: 100%;
    }

    .banner-img {
        width: 100%;
    }

    .box {
        display: block;
        margin: 0;
        padding: 0;
    }

    .box-item {
        width: 100%;
    }

    .box-img {
        width: 100%;
    }

    .counter {
        display: block;
    }

    .number-new {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    .swiper {
        display: block;
    }

    .image-cont {
        width: 100%;
    }

    .image-cont>img {
        width: 100%;
    }

    .con {
        width: 100%;
    }

    .say {
        width: 100%;
    }

    .swiper-content {
        width: 100%;
    }

    .clients {
        display: block;
    }

    .client {
        width: 100%;
        margin: 20px 0;
    }

    .client-img-cont>img {
        width: 100%;
    }

    .footer-fluid {
        display: block;
    }

    .footer-content {
        display: block;
        width: 100%;
    }

    .footer-social {
        width: 100%;
        display: block;
    }

    .social-menu {
        width: 100%;
        margin: 10px 0;
    }

    .box-container {
        margin: 0 auto;
    }

    .shoppy {
        width: 20%;
    }

    .mobile {

        display: block;
    }

    .hamburger {
        display: flex;
        justify-content: end;
    }

    .logo {
        width: 100%;
    }

    .solid {
        font-size: 30px;
    }

    .nav-hidder {

        background: black;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .mark {
        display: flex;
        justify-content: end;
    }

    .xsolid {
        font-size: 40px;
        color: white;
    }

    .nav-menu {
        width: 100%;

        display: flex;
        height: 100vh;
        flex-direction: column;
        /* background: blue; */
    }

    .nav-item {
        color: white;
    }

    .mobile-anchor {
        color: white;
    }

    .nav-btn {
        padding: 5px 40px;
    }

    .about-flex {
        display: block;
    }

    .about-child {
        width: 100%;
    }

    .about-content {
        width: 90%;
        margin: 0 auto;
        padding: 10px 0;
    }

    .cards {
        display: block;
    }

    .card1 {
        width: 100%;
    }

    .dedication {
        padding-bottom: 20px;
    }

    .about-container {
        width: 80%;
    }
    .teams{
        display: block;
    }
    .each-team{
        width: 100%;
    }
}